<div class="app-footer" ng-controller="PlayerController as vm">
    <div class="videogular-container">
      <videogular
        vg-theme="vm.config.theme.url"
        vg-player-ready="vm.onPlayerReady($API)"
        vg-complete="vm.onComplete()"
        vg-auto-play="vm.config.autoPlay"
        class="videogular-container audio">
        <vg-media vg-src="vm.config.sources"></vg-media>
        <vg-controls>
          <vg-button ng-show="vm.audios.length-1" ng-click="vm.play('prev')"><i class="fa fa-backward"></i></vg-button>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-button ng-show="vm.audios.length-1" ng-click="vm.play('next')"><i class="fa fa-forward"></i></vg-button>
          <vg-time-display class="hidden-xs">{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-title class="hidden-xs">{{vm.config.title}}</vg-title>
            <vg-scrub-bar-current-time class="bg-info" style="height: 4px"></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>

          <vg-button ng-click="vm.toggleShuffle()" title="Shuffle"><i class="fa fa-random" ng-class="{'text-info':vm.config.shuffle}"></i></vg-button>
          <vg-button ng-click="vm.toggleRepeat()" title="Repeat"><i class="fa fa-retweet" ng-class="{'text-info':vm.config.repeat}"></i></vg-button>

          <vg-volume>
            <vg-mute-button></vg-mute-button>
          </vg-volume>
        </vg-controls>
      </videogular>
    </div>
</div>
