<nav class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
    <img src="images/logo.png">
    <span class="brand-title">{{vm.navline.title}}</span></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <a href="http://subsonic.org" class="navbar-brand" target="_blank">
        <img src="images/subsonic_logo.png">
      </a>
    </div>
  </div>
</nav>