<div class="left-sidebar">
    <div class="left-sidebar-filler"></div>

    <div class="playlist">
        <ul class="media-list">
        	<li class="media" ng-repeat="song in vm.audios" 
                              ng-click="vm.setActive($index)" 
                              ng-class="{'active': song.id === vm.config.nowPlaying}">
              <div class="media-left media-middle">
                  <img class="media-object" ng-src="{{song.coverArt}}" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <h6 class="media-heading">{{song.title}}</h6>
                <p>{{song.artist}}</p>
              </div>
            </li>
        </ul>
    </div>

    <!--div class="player">
        <uib-progressbar ng-click="vm.handleSkipClick($event)" animate="false" value="vm.currentSong.progress * 100"></uib-progressbar>

        <div class="row player-adjust">
        	<span class="col-md-6">{{vm.currentSong.currentTime | trackTime}}</span>
        	<span class="col-md-6">
        		<input class="" type="range" min=0 max=1 step=0.01 ng-model="vm.currentSong.volume">
        	</span>
        </div>

        <div class="player-controls">
	        <button class="btn btn-player">
	            <i class="fa fa-backward"></i>
	        </button>
	        <button class="btn btn-player" ng-click="vm.currentSong.paused ? vm.currentSong.play() : vm.currentSong.pause()">
	            <i class="fa" ng-class="{'fa-play': vm.currentSong.paused, 'fa-pause': !vm.currentSong.paused}"></i>
	        </button>
	        <button class="btn btn-player">
	            <i class="fa fa-forward"></i>
	        </button>
        </div>
    </div -->
</div>