<div ng-controller="ShellController as vm">
  <header ng-if="isConnected" class="clearfix">
    <div ng-if="isConnected" ng-include="'app/layout/header.html'"></div>
  </header>
  <div>
    <div id="wrapper" class="wrapper" ng-class="{'toggled': vm.toggleMenu}">
      <div ng-if="isConnected" ng-include="'app/layout/sidebar.html'"></div>
      <div id="page-content-wrapper" class="shuffle-animation">
        <div ui-view class="container-fluid"></div>
      </div>
    </div>
    <footer ng-if="isConnected" ng-include="'app/layout/footer.html'"></footer>
  </div>
</div>
