<div ng-controller="ShellController as vm">
  <header ng-if="isConnected" class="clearfix">
    <div ng-if="isConnected" ng-include="'app/layout/header.html'"></div>
  </header>
  <div ng-controller="PlayerController as vm">
    <section id="content" class="content">
      <div ng-if="isConnected" ng-include="'app/layout/sidebar.html'"></div>
      <div ng-if="isConnected" ng-include="'app/layout/left-sidebar.html'"></div>
      <div ui-view class="shuffle-animation"></div>
    </section>
    <footer ng-if="isConnected" ng-include="'app/layout/footer.html'">

    </footer>
  </div>
</div>
