<div ng-controller="SidebarController as vm">
  <ht-sidebar when-done-animating="vm.sidebarReady()">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
      <div class="sidebar-widget darker">
        Your library
      </div>
      <ul class="navi">
        <li class="darker fade-selection-animation" ng-class="vm.isCurrent('Home')">
          <a ui-sref="home">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li class="darker fade-selection-animation">
          <a>
            <i class="fa fa-microphone"></i>
            Artists
          </a>
        </li>
        <li class="darker fade-selection-animation" ng-class="vm.isCurrent('Albums')">
          <a ui-sref="albums.all">
            <i class="fa fa-toggle-right"></i>
            Albums  
          </a>
        </li>
        <li class="darker fade-selection-animation">
          <a>
            <i class="fa fa-music"></i>
            Songs
          </a>
        </li>
        <li class="darker fade-selection-animation">
          <a>
            <i class="fa fa-list"></i>
            Playlists
          </a>
        </li>
      </ul>
    </div>
  </ht-sidebar>
</div>