<section class="">
  <section class="matter">
	<div class="container">
	  <div class="login-wrapper text-center">
		<img src="images/logo.png">
		  <form ng-submit="vm.login()" name='form-horizontal'>
				<div class="form-group">
					  <div class="input-group">
							<input type="url" required ng-model='vm.subsonicSite' class="form-control" placeholder="http://demo.subsonic.org">
						</div>
						<div class="input-group">
							<input type="text" required ng-model='vm.username' class="form-control" placeholder="Username">
						</div>
						<div class="input-group">
							<input type="password" required ng-model='vm.password' class="form-control" placeholder="Password">
						</div>
						<div class="form-group">
							<div class="col-sm-12 m-t">
							  <button type="submit" class="btn btn-default">Login</button>
							</div>
						  </div>
				</div>
		 </form>
	  </div>
	</div>
  </section>
</section>	