<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h3 class="text-orange">Recently played</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" ng-repeat="album in vm.recent">
        	<album id="{{album.coverArt}}", artist="{{album.artist}}", title="{{album.name}}"></album>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="page-header">
            <h3 class="text-orange">Recently added</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="page-header">
            <h3 class="text-orange">Now playing</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul class="media-list">
            <li class="media" ng-repeat="album in vm.newest">
              <div class="media-left">
                <a href="#">
                  <ssImg id="{{album.coverArt}}" size="70">
                </a>
              </div>
              <div class="media-body">
                <h6 class="media-heading text-orange">{{album.name}}</h6>
                {{album.artist}}
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="media-list">
            <li class="media" ng-repeat="np in vm.nowPlaying">
              <div class="media-left">
                <a href="#">
                  <ssImg id="{{np.coverArt}}" size="70">
                </a>
              </div>
              <div class="media-body">
                <h6 class="media-heading text-orange text-ellipsis ">{{np.title}}</h6>
                {{np.username}} - {{np.minutesAgo}} minutes ago
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>