<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2 class="text-orange">Recently played</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-1" ng-repeat="album in ::vm.recent track by album.id">
  	<album ng-click="vm.player.setAlbum(album)" id="{{album.coverArt || album.id}}" parentid={{::album.parent}} albumid="{{::album.id}}" size="250" artist="{{::album.artist}}" title="{{::album.title}}"></album>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h3 class="text-orange">Recently added</h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h3 class="text-orange">Now playing</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media" ng-repeat="album in ::vm.newest track by album.id">
        <div class="media-left">
          <a href="#">
            <img ssimg src="/images/base-cover-art.png" id="{{album.coverArt || album.id}}" size="70" style="height: 70px;">
          </a>
        </div>
        <div class="media-body">
          <a ui-sref="albums.detail({albumId: album.id, parentId: parentid})"><h6 class="media-heading text-orange">{{album.title}}</h6></a>
          {{album.artist}}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media" ng-repeat="np in vm.nowPlaying">
        <div class="media-left">
          <a href="#">
            <img ssimg src="/images/base-cover-art.png" style="height: 70px;" id="{{np.coverArt}}" size="70">
          </a>
        </div>
        <div class="media-body">
          <h6 class="media-heading text-orange text-ellipsis ">{{np.title}}</h6>
          {{np.username}} - {{np.minutesAgo}} minutes ago
        </div>
      </li>
    </ul>
  </div>
</div>
